body {
  font-family: "Varela Round", sans-serif;
  background-image: url("/public/gooddealbg2.jpg");
  background-size: cover;
}
.card {
  width: 23%;
  height:30rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .5rem;
  text-align: center;
  background-color: white;
  border-radius: 1rem;
  box-shadow: none;
  border: transparent;
  color: rgb(112, 104, 104);
  transition: .2s;
}
img {
  height: 70%;
  width: 70%;
  object-fit: contain;
}
.product-info{
  width:100%;
  height:80%;
}
.bg-dark {
  background-color: rgb(65, 64, 64);
  color: white;
}
.card:hover {
  box-shadow: 1rem 1rem 2rem black;
  transform: scale(1.05);
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product-title{
  font-size: .9rem;
  height: 20%;
    overflow: hidden; 
   text-overflow: ellipsis;
}
.navbar {
  width:100%;
  position: sticky;
  height: 4rem;
  background-color: rgb(6, 129, 244);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  color: rgb(245, 160, 15);
  color: aliceblue;
  font-size: 2rem;
}
.search {
  background: white;
  border-radius: 0.5rem;
}
.search > input {
  width: 20rem;
  height: 2rem;
  border: none;
  background: transparent;
}
.search > button {
  height: 2rem;
  font-size: 1.2rem;
  border: none;
  background: transparent;
  color: rgb(0, 0, 0);
}
.nav-options{
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}
select {
  height: 2rem;
  border-radius: 0.5rem;
  color: aliceblue;
  background-color: rgb(1, 7, 7);
}
.mode {
  height: 2rem;
  border-radius: 0.5rem;
  color: black;
}
.cart {
  font-size: 2rem;
  position: relative;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.buttons > button {
  height: 2rem;
  width:40%;
  border: none;
  border-radius: 0.3rem;
}
.buttons > button:active{
  background-color: rgb(186, 255, 11);
}
.add-to-cart:hover{
  background-color: #ffff00;
}
.buy-now:hover{
  background-color: #00ff1a;
}
.add-to-cart {
  background-color: #ffad00;
}
.buy-now {
  background-color: #00ffbb;
}
.product-title {
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
}

.star {
  color: gold;
}

@media (max-width: 950px) and (min-width: 400px) {

  .card {
    width: 25%;
  }
  .search > input {
    width: 7rem;
    height: 1rem;
  }
  .logo {
    font-size: 1rem;
  }
  .cart {
    font-size: 1rem;
  }
  .search > button {
    height: 1rem;
    font-size: 0.7rem;
  }
  select {
    height: 1.5rem;
    border-radius: 0.3rem;
  }
}

@media (max-width: 750px) {
  .card {
    width: 40%;
  }
  .search > input {
    width: 7rem;
    height: 1rem;
  }
  .logo {
    font-size: 1rem;
  }
  .cart {
    font-size: 1rem;
  }
  .search > button {
    height: 1rem;
    font-size: 0.7rem;
  }
  select {
    height: 1.5rem;
    border-radius: 0.3rem;
  }
}

@media (max-width: 600px) {
  .navbar {
    position: sticky;
    height: 10rem;
    background-color: rgb(6, 129, 244);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .logo {
    padding: 1rem;
    font-size: 2rem;
  }
  .card {
    width: 90%;
  }
  .search{
    width: 80%;
    height:2rem;
  }
  .search > input {
    width: 90%;
    height: 2rem;
  }
  .search > button {
    height: 1.5rem;
    font-size: 1rem;
  }
  .nav-options{
    padding: 1rem;
    width: 100%;
  }
  .categories > select{
    height: 2rem;
  }
  .mode{
    display: flex;
  }
  .cart {
    font-size: 2rem;
  }
  select {
    height: 1.5rem;
    border-radius: 0.3rem;
  }
  .product-info{
    width:100%;
    height:80%;
    padding: 0rem;
  }
  .each-product{
    flex-direction: column;
  }
}
.loader {
  border: 1rem solid white;
  border-top: 1rem solid grey;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 3s linear infinite;
  margin: auto;
}

a {
  color: inherit;
}

.btn-back {
  height: 2rem;
  width:5rem;
  border: none;
  border-radius: 0.3rem;
  background-color: rgb(0, 213, 255);
  margin: 2rem;
}
.all-cart-items{
  width: 90%;
  margin:auto;
  background-color: #fff;
  border-color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.cart-item{
  height: 12rem;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 2rem;
  border-bottom: .1rem solid #303030;
  padding-bottom: 2rem;
}
.cart-image-div{
  width: 20%;
  text-align: center;
}
.image{
  height: 100%;
}
.product-details{
  width: 50%;
  text-align: center;
}
.billing{
  width: 30%;
  text-align: center;
}
.total{
  height: 10rem;
  font-size: 1.5rem;
  float:right;
  color: rgb(21, 22, 21);
  align-items: center;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.each-product{
  width:80%;
  margin:auto;
  margin-top: 4rem;
  height:40rem ;
  background-color: azure;
  display: flex;
  align-items: center;
}
.each-product-image{
  width:40%;
  padding: 1rem
}
.each-product-details{
  padding: 1rem;
}

.quantity-change{
  height: 2rem;
  width: 2rem;
  background-color: rgb(2, 141, 228);
  border: none;
  border-radius: .5rem;
  margin: .5rem;
}
.badge{
  border: none;
  position: absolute;
  border-radius: 2rem;
  background-color: #00ff1a;
}
.add-a-product{
  margin: 2rem;
  border-radius: .5rem;
  background-color: rgb(0, 140, 255);
  padding: 1rem;
}
.edit-btn{
  font-size: 2rem;
}
.delete-btn{
  font-size: 1.5rem;
}
.edit-and-delete{
  padding-top: .5rem;
  width: 80%;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.input{
  width: 90%;
  margin: auto;
  margin: 1rem;
}
.products-details-list{
  width: 90%;
  margin: auto;
  align-items: center;
}
.input-bar{
  width: 80%;
  margin: auto;
  height: 2rem;
  border: .1rem solid black;
  border-radius: .5rem;
  
}
label{
  display: block;
}
.submit-btn{
  margin: 2rem;
  height: 2rem;
  background-color: rgb(177, 47, 41);
  width: 5rem;
  border-radius: .5rem;
}

.back-btn{
  margin: 2rem;
  height: 2rem;
  background-color: rgb(68, 177, 9);
  width: 5rem;
  border-radius: .5rem;
}
i:hover{ 
  color: black;
}